<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
 	<select id="upgradelist" resultType="UpgradeListDto" parameterType="pagingDto">
		SELECT R.* 
		FROM (SELECT ROWNUM AS RNUM, A.MEM_ID, A.MEM_NAME, A.MEM_GRADE, B.FARMER_STATUS
			FROM MEMBER A, FARMER B
			WHERE A.MEM_ID = B.MEM_ID) R 
		WHERE R.RNUM BETWEEN #{from} AND #{to}
 	</select>

 	<select id="selectOne">
		SELECT * FROM MEMBER A, FARMER B
		WHERE A.MEM_ID = B.MEM_ID AND A.MEM_ID=#{id}
 	</select>
 	
 	<select id="upgraderank_mem">
		UPDATE FARMER SET FARMER_STATUS=2 WHERE MEM_ID=#{id}
 	</select>
 	
 	<select id="upgraderank_far">
		UPDATE MEMBER SET MEM_GRADE=2 WHERE MEM_ID=#{id}
 	</select>

 	<select id="approvallist" resultType="AuctionApprovalDto" parameterType="pagingDto">
		SELECT R.RNUM, R.MEM_ID, R.STOCK_NAME, R.AUC_STARTPRICE, R.AUC_REGDATE, R.AUC_ENDDATE, R.AUC_STATUS
		FROM (SELECT ROWNUM AS RNUM, A.*, B.*
			FROM AUCTION A, STOCK B
			WHERE A.STOCK_NO = B.STOCK_NO
			ORDER BY A.AUC_REGDATE DESC) R 
		WHERE R.RNUM BETWEEN #{from} AND #{to}
 	</select>
 	
 	<select id="auctionapproval">
		UPDATE AUCTION SET AUC_STATUS=2 WHERE AUC_NO=#{no}
 	</select>
 	
 	<select id="totalpage" resultType="int">
		SELECT COUNT(*) AS TOTALCOUNT 
		FROM (SELECT * FROM MEMBER A, FARMER B
			WHERE A.MEM_ID = B.MEM_ID) R 
 	</select>
 	
 	
 	
 	

</mapper>
