<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<properties resource="com/mb/db/db.properties"></properties>
<typeAliases>
	<typeAlias type="com.md.dto.MDBoardDto" alias="mdDto"/>
</typeAliases>

<!-- 홈페이지 시작하기에서 가져온 내용 -->
 <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
  	<mapper resource="com/mb/db/mapper.xml"/>
  </mappers>

</configuration>
