<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="letters">
	<select id="inboxLetters" resultType="lettersDto" parameterType="String">
		SELECT * FROM LETTERS
		WHERE mem_id=#{mem_id}
		ORDER BY letter_id DESC
	</select>
	<insert id="sendLetters" parameterType="lettersDto">
		INSERT INTO LETTERS
		VALUES(LETTERSSEQ.NEXTVAL, #{mem_id}, #{letter_sender}, #{letter_title}, #{letter_content}, SYSDATE)
	</insert>
	<delete id="deleteLetters" parameterType="map">
		DELETE FROM LETTERS
		WHERE letter_id IN
		<foreach collection="letter_ids" item="letter_id" open="(" separator="," close=")">
			#{letter_id}
		</foreach>
	</delete>
	<select id="sentLetters" resultType="lettersDto" parameterType="String">
		SELECT * FROM LETTERS
		WHERE letter_sender=#{mem_id}
		ORDER BY letter_id DESC
	</select>
	<select id="LettersDetail" resultType="lettersDto" parameterType="int">
		SELECT * FROM LETTERS
		WHERE letter_id =#{letter_id}
	</select>
</mapper>